r_dir_file(fingerprintd, firmware_file)
r_dir_file(fingerprintd, proc_touchpanel)
allow fingerprintd system_data_file:dir { write remove_name add_name };
allow fingerprintd system_data_file:sock_file { create unlink };
allow fingerprintd firmware_file:dir search;
allow fingerprintd sysfs:file write;
allow fingerprintd sysfs_fpc_irq:file rw_file_perms;
allow fingerprintd tee_device:chr_file rw_file_perms;
