# su daemon
service su_daemon /system/xbin/su --daemon
    oneshot

on property:persist.sys.root_access=0
    stop su_daemon
on property:persist.sys.root_access=2
    stop su_daemon
on property:persist.sys.root_access=1
    chmod 6755 /system/xbin/su
    start su_daemon
on property:persist.sys.root_access=3
    chmod 6755 /system/xbin/su
    start su_daemon
